.rs-wrap{width:800px;border:solid 1px #CCC;padding:0 10px;margin:20px auto}
.rs-wrap form{margin:0}
#header{background:#333;padding:10px;margin:0 -10px 10px;
text-shadow: -1px -1px 1px #333333;color:#666;
filter: dropshadow(color=#333333, offx=-1, offy=-1);
font-family: arial,Helvetica, sans-serif!important;
}
#header h1{font-weight:bolder;
text-transform:uppercase;line-height:1em;font-size:48px;margin:0;
float:left;
}
#header em{line-height:48px;float:right}
.text,
.textarea,
.checkbox{
	border-bottom: solid 1px #EEE;padding:20px 10px;
	margin:0 -10px;
}
.checkbox{background:#EEE!important;border:solid 1px #DDD;border-width:0 0 1px 0}
.checkbox label{font-size:1.2em;font-weight:bold;}
.odd{background:#fff}
.even{background:#f6f6f6}
input[type="text"]{
	display:block;width:70%;padding:.5em;margin-top:10px;
}
textarea{width:60%;float:left;margin-right:10px}

.text h4,
.textarea h4{display:inline-block;font-size:1.5em;margin:0 10px 0 0}

.submit{padding:10px;background:#EEE;border-top:solid 1px #CCC;margin:-1px -10px 0}
.submit input[type="submit"]{
	padding:.5em;
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
#help{margin:-10px -10px 0;padding:20px;}
#help li{list-style: circle;margin:0 0 10px 20px}
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert-heading {
  color: inherit;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}


.clear{clear:both}
.reset{padding:0;margin:0}
.clearfix:after {
 visibility: hidden;
 display: block;
 font-size: 0;
 content: " ";
 clear: both;
 height: 0;
}
 
.clearfix {display: inline-block;}
 
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}